.body {
  background-color: #DCDCDC;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.float-right {
  float:right;   
}
.module-remove {                    
  color:white
}

ul.module-list > li > a{
  color:white;
}

.module-list:hover{
  color:white;
  text-decoration: none;
}

.topic-list-item {
  color: black;
}

.topic-list-item:hover {
  color: inherit;
  text-decoration: none;
}